# Data Science Tools and Ecosystem

# introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

# Data Science Languages

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**



Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**: Fundamental package for numerical computations in Python.
2. **Pandas**: Powerful library for data manipulation and analysis.
3. **Matplotlib**: Comprehensive library for creating static, animated, and interactive visualizations.

| Data Science Tools |

|Python|   
| R |  
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
* Python
* R
* SQL

## Author
Alaa Zifa